* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1128px;
}

.gallery {
    padding: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    list-style: none;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basicLightbox__placeholder img {
    border-radius: 10px;
}